<!DOCTYPE html>
<html lang="en">
<head>
<title>TASKIFY.IO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Taskify</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="tasks.html">Tasks <span
							class="sr-only">(current)</span></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Help <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Documentation</a></li>
							<li><a href="#">About</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<form>
			<div class="form-group">
				<label for="usernameTextInput">Username</label> <input
					type="username" class="form-control" id="usernameTextInput"
					aria-describedby="emailHelp" placeholder="Enter username">
				<small id="usernameHelp" class="form-text text-muted">This
					will be your display name.</small>
			</div>
			<form>
				<div class="form-group">
					<label for="emailTextInput">Email address</label> <input
						type="email" class="form-control" id="emailTextInput"
						aria-describedby="emailHelp" placeholder="Enter email"> <small
						id="emailHelp" class="form-text text-muted">The email will
						be used to send email notifications. Please note that we'll never
						share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="passwordTextInput">Password</label> <input
						type="password" id="passwordTextInput" class="form-control"
						aria-describedby="passwordHelpBlock"> <small
						id="passwordHelpBlock" class="form-text text-muted"> Your
						password must be atleast eight characters long, contain at least
						one letter and one number and numbers, and must not contain
						spaces, special characters, or emoji. </small>
				</div>
				<center><input type="submit" class="btn btn-primary" name=submit value="Register" /></center>
			</form>
		</form>
	</div>
</body>
</html>
