<!DOCTYPE html>
<html lang="en">
<head>
<title>TASKIFY.IO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Taskify</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="tasks.html">Tasks <span
							class="sr-only">(current)</span></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="register.html">Login</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Help <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Documentation</a></li>
							<li><a href="#">About</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Shows a list of all the tasks.
			Detailed information is provided in the following columns below.</div>
		<div class="panel-body">
			<table class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Completed</th>
						<th scope="col">Due to</th>
						<th scope="col">Assigned user</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task, iterator: ${tasks}">
						<td th:text="${iterator.count}">Count</td>
						<td th:text="${task.name}">Task Name</td>
						<td th:text="${task.description}">Task Description</td>
						<td th:text="${task.completed}">Task Completion</td>
						<td th:text="${#temporals.format(task.dueTo, 'dd.MM.yyyy')}">Due to date</td>
						<td th:text="${task.assignedUser.username}">Assigned user</td>
					</tr>
				</tbody>
			</table>
		</div>
</body>
</html>
